header {
  font-size: 3rem;
  margin-top: 3rem;
}
.settings {
  font-size: 1rem;
  margin-top: 1rem;
  display: flex;
  justify-content: space-around;
}
.settings .dataSel_box {
  display: inline-block !important;
  height: 1.5rem;
  border: 2px solid green;
  border-radius: 0.5rem;
}
