.news_box {
  width: 70vw;
  display: inline-block;
  margin: 4rem auto;

  // justify-content: center;
  header{
    font-size: 2rem;
  }
  
  .news_header {
    font-size: 1.5rem;
    color:blue;
  }
}