.container {
  width: 960px;
  margin: 20px auto;
  padding: 20px 0;
  text-align: center;
  background-color: #eee3e3;
  border-radius: 1rem;
}
.container .swiperNewList {
  background: url('static/images/400/img6.jpg');
  background-color: white;
}
.container .page_china_map {
  margin: 4rem auto;
}
.container .trend_china {
  margin: 20% 20%;
}
.container .epidemic_change {
  height: fit-content;
  margin: 20% 20%;
}
.container .world_map {
  margin: 20% 20%;
}
.container .world_trend {
  margin: 20% 20%;
}
.container .news {
  margin: auto 64px;
}
