.container {
  width: 80vw;
  margin: 20px auto;
  padding: 20px 0;
  text-align: center;
  background-color: #eee3e3;
  border-radius: 15px;
}
.container .news {
  width: 80vw;
  margin: auto 64px ;
}
