@margin_unit: 20%;

.container {
  width: 960px;
  // width: 60vw;
  margin: 20px auto;
  padding: 20px 0;
  text-align: center;
  background-color: rgb(238, 227, 227);
  border-radius: 1rem;

  .page_china_map {
    margin: 4rem auto;
  }

  .trend_china {
    margin: @margin_unit @margin_unit;
  }

  .epidemic_change {
    height: fit-content;
    margin: @margin_unit @margin_unit;
  }

  .world_map {
    margin: @margin_unit @margin_unit;
  }

  .world_trend {
    margin: @margin_unit @margin_unit;
  }

  .news {
    // width: 80vw;
    margin: auto 64px;
  }
}